.productListWrapper {
  display: grid;
  grid-template-columns: repeat(2, 6fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.productListName {
  grid-area: 1 / 1 / 2 / 2;
}
.productListPrice {
  grid-area: 1 / 2 / 2 / 3;
}
.productListRemove {
  grid-area: 1 / 3 / 2 / 4;
}
